.navbar {
    background: linear-gradient(to right, #500550, #0e769b);
    padding: 10px;
    color: white;
  }
  
 
  ul {
    list-style: none;
    display: flex;
    gap: 67px;
  }
  
  li {
    font-size: 20px;
  }
  